div.cat_bar {
	background: #575BB3;
	padding: 0;
	box-shadow: 0 16px 20px rgba(255,255,255,0.15) inset;
	text-shadow: -1px -1px 1px rgba(0,0,0,0.2);
	box-sizing: border-box;
	margin-left:-9px;
	height: 40px;
}
div.cat_bar::before {
	 border-top: 10px solid #575BB3;
	 border-bottom: 10px solid transparent;
	 border-left: 10px solid transparent;
	 content: "";
	 display: block;
	 height: 0;
	 margin: 40px 0 0 0px;
	 position: absolute;
	 width: 0;
}
